<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Default suite">

  <test name="testNg Files">
    <classes>
      <class name="com.TestNgTest.GoogleTest"/>
      <class name="com.TestNgTest.InvocationCount"/>
      <class name="com.TestNgTest.SampleTestNG"/>
    </classes>
  </test> <!-- Default test -->
</suite> <!-- Default suite -->